name: CD - Deploy

on: 
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  deploy:
    if: github.event.pull_request.merged == true &&
        github.event.pull_request.head.ref == 'development'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/Checkout@v3
  
      - name: Deploy 
        run: echo "Pretend deployment is occurring"