name: CI - Development

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/Checkout@v3
  
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.15.0-alpha.2"
      
      - name: Install dependencies 
        run: pip install -r requirements.txt
  
      - name: Run tests with coverage
        run: pytest --cov=. --cov-report=xml --cov-report=html
      
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: html-coverage
          path: htmlcov