name: CI - Development

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development
permissions:
  contents: write
  
jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/Checkout@v4
  
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      
      - name: Install dependencies 
        run: pip install -r requirements.txt
  
      - name: Run tests with coverage
        run: pytest --cov=. --cov-report=xml --cov-report=html:htmlcov
        
      - name: Verify coverage output
        run: ls -la htmlcov

      - name: Ensure htmlcov is not empty
        run: echo "Current dir$(pwd)" | ls -R htmlcov || echo "htmlcov does not exist"
        
      - name: Upload coverage report
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: htmlcov
          force_orphan: false
          user_name: github-actions[bot]
          user_email: github-actions[bot]@users.noreply.github.com
          commit_message: "Deploy coverage report"
